<header>
    <h1>{{PageTitle}}</h1>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help.html">Help</a></li>
    </ul>
    
</header>